body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: oldlace;
}

h1 {
    font-size: 3em;
    margin: 0; 
    color: lightcoral; 
}

h2{
    color: lightcoral;
}

p{
    line-height: 1.4em;
    padding-left: 20px;
}

#blog {
    border-top: 2px dotted #ccc;
    display: flex;
    gap: 40px;
}

.blog-post{
    border-bottom: 2px dotted #ccc;
}

table{
    border: 3px solid black;
}

td{
    border-top: 1px dotted #242424;
}

a{
    line-height: 2em;
}

form{
    margin: 10px 
}

nav{
    background: rgb(235, 182, 182);
    position:sticky;
    top: 10px;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.blog-image{
    float: right;
}

@media screen and (max-width: 400px){

    body{
        margin:0;
        padding:0;
    }

    #blog{
        display: block;
    }

    p{
        padding-right:20px;
    }

    .blog-image{
        float:left;
        width: 100;
        padding:0;
    }

}